
.CaretBtn{
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    justify-content:space-between;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    width: 80%;
    height: 25%;
    border-radius: 25px;
    overflow: auto;
}